openapi: 3.1.0
info:
  title: PubMed Search API
  description: API for searching PubMed articles using E-utilities and retrieving detailed information.
  version: 1.0.0
servers:
  - url: https://eutils.ncbi.nlm.nih.gov/entrez/eutils
    description: NCBI E-utilities server
paths:
  /esearch.fcgi:
    get:
      operationId: searchPubMed
      summary: Search PubMed articles
      parameters:
        - name: db
          in: query
          required: true
          schema: { type: string, example: pubmed }
        - name: term
          in: query
          required: true
          schema: { type: string, example: "cancer AND treatment" }
        - name: retmax
          in: query
          required: false
          schema: { type: integer, example: 10 }
        - name: retstart
          in: query
          required: false
          schema: { type: integer, example: 0 }
        - name: sort
          in: query
          required: false
          schema: { type: string, example: relevance }
      responses:
        '200':
          description: Successful response containing search results.
  /esummary.fcgi:
    get:
      operationId: fetchSummary
      summary: Fetch PubMed article summaries
      parameters:
        - name: db
          in: query
          required: true
          schema: { type: string, example: pubmed }
        - name: id
          in: query
          required: true
          schema: { type: string, example: "12345678,23456789" }
        - name: retmode
          in: query
          required: true
          schema: { type: string, example: json }
      responses:
        '200':
          description: Successful response containing article summaries.
  /efetch.fcgi:
    get:
      operationId: fetchAbstract
      summary: Fetch PubMed article abstracts
      parameters:
        - name: db
          in: query
          required: true
          schema: { type: string, example: pubmed }
        - name: id
          in: query
          required: true
          schema: { type: string, example: "12345678,23456789" }
        - name: retmode
          in: query
          required: true
          schema: { type: string, example: xml }
      responses:
        '200':
          description: Successful response containing article abstracts.
